<!DOCTYPE html>

<html>
    <head>
        <title>Testes Kiper</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/kiper.css') }}" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css"/>
        <link rel="stylesheet" href="../static/css/kiper.css" type="text/css">
        <!--<link href='/path/to/font-awesome.css' rel='stylesheet'/>-->
    </head>

    <body>

        <div class="row col-md-12">
            <div class="navbar navbar-default navbar-fixed-top" style="border: 1px solid gainsboro; background: #f8f8f8;">
                <div class="container-fluid">
                    <div class="col-md-1">
                        <a href="/" style='margin-left: 10%'>
                            <img src="{{ url_for('static', filename='image/kiper1.png') }}">
                        </a>
                    </div><br>

                    <div class="col-md-2">
                        <label class="col-md-4 col-md-offset-2" style="margin-top: 5px">Protocol</label>
                        <div class="col-md-6">
                            <select class="form-control" id="protocol" name="protocol">
                                    <option value='1.2'>1.2</option>
                                    <option value='1.1'>1.1</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="col-md-4 col-md-offset-1">
                            <label class="switch">
                                <input id="connection" type="checkbox">
                                <div class="slider round"></div>
                            </label>
                        </div>
                        <label class="col-md-7" style="margin-top: 5px">Server connection </label>
                    </div>
                    <div class="col-md-1">
                      <button id="button-flush" type="button" class="col-md-6 col-md-offset-3 btn btn-default" data-toggle="modal" data-target="#modal_flush" data-dismiss="modal"> Flush </button><br><br>
                    </div>
                    <div class="col-md-6">
                      <small><label><kbd>sshpass -p khomp ssh -oStrictHostKeyChecking=no -oKexAlgorithms=+diffie-hellman-group1-sha1 -p 4022 root@10.15.15.102</kbd></label></small>
                    </div>
                </div>
            </div>
        </div>

        <div id="testAlert" class="col-md-12"></div>

        <div class="col-md-2 MenuLateral" style="background: #f8f8f8; border: 1px solid gainsboro; margin-top: 56px;">
            <label class="text-center col-md-12" style=" padding: 50px; color: #337ab7"><span class="glyphicon glyphicon-time"></span> Historic </label>
            <!--margin-top: 92px;-->
            <div id="div_historic" class="myPadding25 text-center"></div>
        </div>

        <div id="menu-principal" class="col-md-10 col-md-offset-2">
            <div style="margin-top: 200px; ">
                    <div class="row col-md-11 myPadding25">
                        <button id='button-menu-ipwall' type="button" class="col-md-2 col-md-offset-1 btn btn-primary btn-lg myPadding25"><i class="glyphicon glyphicon-menu-hamburger"  style="margin-right: 5px"></i> IP Wall </button>
                        <button id='button-menu-rf' type="button" class="col-md-2 col-md-offset-1 btn btn-primary btn-lg myPadding25"><i class="glyphicon glyphicon-modal-window"  style="margin-right: 5px"></i> Set RF </button>
                        <button id='button-menu-user' type="button" class="col-md-2 col-md-offset-1 btn btn-primary btn-lg myPadding25"><i class="glyphicon glyphicon-user"  style="margin-right: 5px"></i> User </button>
                        <button id='button-menu-qrcode-reader' type="button" class="col-md-2 col-md-offset-1 btn btn-primary btn-lg myPadding25"><i class="glyphicon glyphicon-qrcode"  style="margin-right: 5px"></i> QR Code </button>
                    </div>
                    <div class="row col-md-11 myPadding25">
                        <button id='button-menu-guest' type="button" class="col-md-2 col-md-offset-1 btn btn-primary btn-lg myPadding25"><i class="glyphicon glyphicon-user"  style="margin-right: 5px"></i> Guest </button>
                        <button id='button-menu-request' type="button" class="col-md-2 col-md-offset-1 btn btn-primary btn-lg myPadding25"><i class="glyphicon glyphicon-edit"  style="margin-right: 5px"></i> Request </button>
                        <button id='button-menu-behave' type="button" class="col-md-2 col-md-offset-1 btn btn-primary btn-lg myPadding25" ><i class="glyphicon glyphicon-leaf"  style="margin-right: 5px"></i> Behave </button>
                        <button id='button-menu-logs' type="button" class="col-md-2 col-md-offset-1 btn btn-primary btn-lg myPadding25"><i class="glyphicon glyphicon-list-alt "  style="margin-right: 5px"></i> Logs </button>
                    </div>
            </div>
        </div>

        <div id="menu-principal-2" class="col-md-10 col-md-offset-2">
            <div class="row" style="border: 1px solid gainsboro; padding: 30px; margin-top: 56px">
                <div class="col-md-3">
                    <div class="col-md-6">
                        <button id='button-menu-ipwall-2' type="button" class="col-md-10 col-md-offset-1 btn btn-default" style="color: #696969"><i class="glyphicon glyphicon-menu-hamburger"></i><br> IP Wall </button>
                    </div>
                    <div class="col-md-6">
                        <button id='button-menu-rf-2' type="button" class="col-md-10 col-md-offset-2 btn btn-default" style="color: #696969"><i class="glyphicon glyphicon-modal-window"></i><br> Set RF </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-6">
                        <button id='button-menu-user-2' type="button" class="col-md-10 col-md-offset-1 btn btn-default" style="color: #696969"><i class="glyphicon glyphicon-user"></i><br> User </button>
                    </div>
                    <div class="col-md-6">
                        <button id='button-menu-qrcode-reader-2' type="button" class="col-md-10 col-md-offset-2 btn btn-default" style="color: #696969"><i class="glyphicon glyphicon-qrcode"></i><br> QR Code </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-6">
                        <button id='button-menu-guest-2' type="button" class="col-md-10 col-md-offset-1 btn btn-default" style="color: #696969"><i class="glyphicon glyphicon-user"></i><br> Guest </button>
                    </div>
                    <div class="col-md-6">
                        <button id='button-menu-request-2' type="button" class="col-md-10 col-md-offset-2 btn btn-default" style="color: #696969"><i class="glyphicon glyphicon-edit"></i><br> Request </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-6">
                        <button id='button-menu-behave-2' type="button" class="col-md-10 col-md-offset-1 btn btn-default" style="color: #696969"><i class="glyphicon glyphicon-leaf"></i><br> Behave </button>
                    </div>
                    <div class="col-md-6">
                        <button id='button-menu-logs-2' type="button" class="col-md-10 col-md-offset-2 btn btn-default" style="color: #696969"><i class="glyphicon glyphicon-list-alt"></i><br> Logs </button>
                    </div>

                </div>
            </div>

            <div id='div-menu-ipwall' class='center'>
                {% include pages['ipwall'] %}
            </div>

            <div id='div-insert-ipwall' class='center'>
                {% include pages['insert_ipwall'] %}
            </div>

            <div id='div-menu-rf' class='center'>
                {% include pages['set_rf'] %}
            </div>

            <div id='div-insert-set-rf' class='center'>
                {% include pages['insert_set_rf'] %}
            </div>

            <div id='div-menu-user' class='center'>
                {% include pages['user'] %}
            </div>

            <div id='div-insert-user' class='center'>
                {% include pages['insert_user'] %}
            </div>

            <div id='div-menu-qrcode-reader' class='center'>
                {% include pages['qrcode_reader'] %}
            </div>

            <div id='div-insert-qrcode-reader' class='center'>
                {% include pages['insert_qrcode_reader'] %}
            </div>

            <div id='div-menu-guest' class='center'>
                {% include pages['guest'] %}
            </div>

            <div id='div-insert-guest' class='center'>
                {% include pages['insert_guest'] %}
            </div>

            <div id='div-menu-request' class='center'>
                {% include pages['request'] %}
            </div>

            <div id='div-menu-behave' class='center'>
                {% include pages['behave'] %}
            </div>

            <div id='div-menu-logs' class='center'>
                {% include pages['logs'] %}
            </div>
        </div>


        <!--Flush-->

        <div class="modal fade" id="modal_flush" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Confirm Flush?</h4>
                      </div>
                      <div class="modal-body">
                          <div class="alert alert-danger">
                              <strong>Warning:</strong> If you confirm it, the whole DB will be erased.
                          </div>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Back</button>
                          <button type="button" id="send_flush" class="btn btn-danger" data-dismiss="modal">Yes</button>

                      </div>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/jquery-2.2.4.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
        <script src="{{ url_for('static', filename='js/kiper.js') }}"></script>

    </body>
</html>
