<!DOCTYPE html>

<form method="post" id="form_guest" action='javascript:submitGuest()'>

    <div class="myPadding25">
        <a href="/"><span class="glyphicon glyphicon-home" style="color: #337ab7"></span></a>
        <span class="glyphicon glyphicon-menu-right" style="color: #A9A9A9"></span>
        <a href="javascript:breadcrumb($('#button-menu-guest'))"><span style="color: #337ab7"> Guest </span></a>
        <span class="glyphicon glyphicon-menu-right" style="color: #A9A9A9"></span>
        <span style="color: #808080" id="breadcrumb_insertGuest"> Insert Guest</span>
    </div>
    <h3 class='text-center' style="color: #337ab7" id="title_insert_guest">Insert Guest</h3><br>
    <div class="row myPadding25">
        <div class="col-md-10 col-md-offset-1">

            <div class="row">
                <div class="col-md-6 myPaddingRL25">
                    <div class="row">
                        <label class="col-md-4 control-label"> guest_id </label>
                        <div class="col-md-8">
                            <input type="number" class="form-control" id ="guest_id" name="guest_id" placeholder="guest_id" /><br>
                        </div>

                        <label class="col-md-4 control-label"> valid_from </label>
                        <div class="col-md-8">
                            <input type="datetime-local" class="form-control" id ="valid_from" name="valid_from"/><br/>
                        </div>

                        <label class="col-md-4 control-label"> valid_until </label>
                        <div class="col-md-8">
                            <input type="datetime-local" class="form-control" id ="valid_until" name="valid_until"/><br>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 myPaddingRL25">
                    <div class="row">

                        <label class="col-md-4 control-label"> access_counter </label>
                        <div class="col-md-8">
                            <input type="number" class="form-control" id ="access_counter" name="access_counter" placeholder="access_counter" /><br>
                        </div>
                        <label class="col-md-4 control-label"> code </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id ="code" name="code" placeholder="code" /><br>
                        </div>

                        <label class="col-md-12 control-label"> ipwall_access_list </label>
                        <div class="col-md-10 col-md-offset-1">
                            <div id="div_ipwall_access_list" class="checkbox">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="myPadding25">
        <a href="javascript:breadcrumb($('#button-menu-guest'))" class="col-md-2 btn btn-default active myPadding10" role="button"><span class="glyphicon glyphicon-chevron-left" style="margin-right: 5px"></span> Back </a>
        <button type="submit" class="col-md-2 col-md-offset-8 btn btn-primary myPadding10"><span class="glyphicon glyphicon-ok" style="margin-right: 5px"></span> Submit </button><br><br>
    </div>
</form>
