<!DOCTYPE html>

<form method="post" id="form_user" action='javascript:submitUser()'>
    <div class="myPadding25">
        <a href="/"><span class="glyphicon glyphicon-home" style="color: #337ab7"></span></a>
        <span class="glyphicon glyphicon-menu-right" style="color: #A9A9A9"></span>
        <a href="javascript:breadcrumb($('#button-menu-user'))"><span style="color: #337ab7"> User </span></a>
        <span class="glyphicon glyphicon-menu-right" style="color: #A9A9A9"></span>
        <span style="color: #808080" id="breadcrumb_insertUser"> Insert User </span>
    </div>
    <h3 class='text-center' style="color: #337ab7" id="title_insert_user">Insert User</h3><br>
    <div class="row myPadding25">
        <div class="col-md-10 col-md-offset-1">

            <div class="row">
                <div class="col-md-6 myPaddingRL25">

                    <div class="row">
                        <label class="col-md-4 control-label">user_id</label>
                        <div class="col-md-8">
                            <input type="number" class="form-control" name="user_id" id="user_id" placeholder="user_id" required="required"><br/>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-4 control-label">set_rf_id<br/></label><br/>
                        <div class="col-md-8">
                            <select id='select_set_rf_id' class="form-control" name="select_set_rf_id">
                            </select><br/>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-4 control-label">tag_id<br/></label><br/>
                        <div class="col-md-8">
                            <select class="form-control" id="tag_id" name="tag_id">
                                <option value='null'></option>
                                <option value='68843220856'>1 - 68843220856</option>
                                <option value='68843220756'>2 - 68843220756</option>
                                <option value='68595732687'>3 - 68595732687</option>
                                <option value='68595732706'>4 - 68595732706</option>
                                <option value='68595732712'>5 - 68595732712</option>
                                <option value='68595732660'>6 - 68595732660</option>
                                <option value='55555555555'>7 - 55555555555</option>
                                <option value='44444444444'>8 - 44444444444</option>
                                <option value='33333333333'>9 - 33333333333</option>
                                <option value='22222222222'>10 - 22222222222</option>

                            </select><br/>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-4 control-label">rf_id<br/></label><br/>
                        <div class="col-md-8">
                            <select class="form-control" id="rf_id" name="rf_id">
                                <option value='null'></option>
                                <option value='3059812612'>1 - 3059812612</option>
                                <option value='769261826'>2 - 769261826</option>
                                <option value='11599937'>3 - 11599937</option>
                                <option value='1111111111'>4 - 1111111111</option>
                                <option value='6777777777' >5 - 6777777777</option>
                                <option value='1233'>6 - 1233</option>
                                <option value='43561'>7 - 43561</option>
                            </select>
                        </div>

                    </div>

                    <div class="checkbox" style="margin-top: 20px">
                        <label><input type="checkbox" id="check_blocked" name="blocked"><b>blocked</b></label><br><br>

                        <label><input type="checkbox" id="check_administrator" name="check_administrator"><b>administrator</b></label><br>
                    </div>
                </div>

                <div class="col-md-6 myPaddingRL25">
                    <div class="row">
                        <label class="col-md-4 control-label">counter_rf<br/></label><br/>
                        <div class="col-md-8">
                            <input type="number" class="form-control" name="counter_rf" id="counter_rf" placeholder="counter_rf"><br/>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-4 control-label">opening_time</label><br>
                        <div class="col-md-8">
                            <input type="number" class="form-control" name="opening_time" id="opening_time" placeholder="opening_time"><br>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-4 control-label">secret</label><br>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="secret" id="secret" placeholder="secret"><br>
                        </div>
                    </div>

                    <label class="control-label">ipwall_access_tag<br/></label><br/>

                    <div class="col-md-offset-1">
                        <div id="div_ipwall_access_tag" class="checkbox">
                        </div>
                    </div>
                </div>

                <div class="col-md-12 myPaddingRL25">
                    <div class="checkbox">
                        <label><input type="checkbox" id="check_restrict_access" name="check_restrict_access"><b>restrict_access</b></label>

                        <div class="form-inline" id="days_of_week">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="myPadding25">
        <a href="javascript:breadcrumb($('#button-menu-user'))" class="col-md-2 btn btn-default active myPadding10" role="button"><span class="glyphicon glyphicon-chevron-left" style="margin-right: 5px"></span> Back </a>
        <button type="submit" class="col-md-2 col-md-offset-8 btn btn-primary myPadding10"><span class="glyphicon glyphicon-ok" style="margin-right: 5px"></span> Submit </button><br><br>
    </div>
</form>
