<!--<!DOCTYPE html>

To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

<form method="post" id="form_request" action='javascript:submitPing()'>

         Trigger the modal with a button 
         Modal 
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

             Modal content
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select Request</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="margin-left: 25px; margin-right: 25px;">
                        <input id="request_id" name="request_id" class="form-control" placeholder="request_id">
                        <div class="col-md-6">
                            <div class="myPadding10">
                                <button id="button-ping" type="submit" class="col-md-10 col-md-offset-1 btn btn-default" data-dismiss="modal"> Ping </button><br>
                            </div>
                            <div class="myPadding10">
                                <button id="button-set-datetime" type="button" class="col-md-10 col-md-offset-1 btn btn-default" data-dismiss="modal"> Set DateTime </button><br>
                                <button id="button-set-datetime" type="button" class="col-md-10 col-md-offset-1 btn btn-default" data-toggle="modal" data-target="#modal_set_datetime" data-dismiss="modal"> Set DateTime </button><br>
                            </div>
                            <div class="myPadding10">
                                <button id="button-vacuum-db" type="button" class="col-md-10 col-md-offset-1 btn btn-default" data-dismiss="modal"> Vacuum DB </button><br>
                            </div>
                            <div class="myPadding10">
                                <button id="button-start-emergency" type="button" class="col-md-10 col-md-offset-1 btn btn-default" data-dismiss="modal"> Start Emergency </button><br>
                            </div>
                            <div class="myPadding10">
                                <button id="button-stop-emergency" type="button" class="col-md-10 col-md-offset-1 btn btn-default" data-dismiss="modal"> Stop Emergency </button><br>
                            </div>

                            <div class="myPadding10">
                                <button id="button-change-log-type" type="button" class="col-md-10 col-md-offset-1 btn btn-default" data-toggle="modal" data-target="#modal_change_log_type" data-dismiss="modal"> Change Log Type </button><br>
                            </div>
                        </div>
                       
                        <div class="col-md-6">
                            <div class="myPadding10">
                                <button id="button-update-cpu" type="button" class="col-md-10 col-md-offset-1 btn btn-default" data-toggle="modal" data-target="#modal_update_cpu" data-dismiss="modal"> Update CPU </button><br>
                            </div>
                            <div class="myPadding10">
                                <button id="button-get-sensors-status" type="button" class="col-md-10 col-md-offset-1 btn btn-default" data-toggle="modal" data-target="#modal_get_sensor_relay_status" data-dismiss="modal"> Get Sensors Status </button><br>
                            </div>
                            <div class="myPadding10">
                                <button id="button-get-relays-status" type="button" class="col-md-10 col-md-offset-1 btn btn-default" data-toggle="modal" data-target="#modal_get_sensor_relay_status" data-dismiss="modal"> Get Relays Status </button><br>
                            </div>
                            <div class="myPadding10">
                                <button id="button-open-door" type="button" class="col-md-10 col-md-offset-1 btn btn-default" data-toggle="modal" data-target="#modal_open_keep_close_door" data-dismiss="modal"> Open the Door </button><br>
                            </div>
                            <div class="myPadding10">
                                <button id="button-keep-door-opened" type="button" class="col-md-10 col-md-offset-1 btn btn-default" data-toggle="modal" data-target="#modal_open_keep_close_door" data-dismiss="modal">  Keep  the Door Opened </button><br>
                            </div>
                            <div class="myPadding10">
                                <button id="button-close-door" type="button" class="col-md-10 col-md-offset-1 btn btn-default" data-toggle="modal" data-target="#modal_open_keep_close_door" data-dismiss="modal"> Close the Door </button><br><br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="col-md-2 btn btn-default active" data-dismiss="modal"><span class="glyphicon glyphicon-chevron-left" style="margin-right: 5px"></span> Back </button>
                </div>
            </div>

          </div>
        </div>
        
         SET DATETIME 
        
        <div id="modal_set_datetime" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"> Set DateTime </h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-4 col-md-offset-1"><b> new_datetime </b></div>
                        <div class="col-md-6"><input type="datetime-local" class="form-control" id ="new_datetime" name="new_datetime"/></div><br><br><br>
                        
                        <div class="col-md-4 col-md-offset-1"><b> server_protocol_version </b></div>
                        <div class="col-md-6"><input type="text" class="form-control" id ="server_protocol_version" name="server_protocol_version" placeholder="server_protocol_version"/></div><br><br><br>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="col-md-2 btn btn-default active" data-toggle="modal" data-target="#myModal" data-dismiss="modal"><span class="glyphicon glyphicon-chevron-left" style="margin-right: 5px"></span> Back </button>
                        <div class="col-md-8"> </div>
                        <button type="submit" id="send_change_log_type" class="col-md-2 btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-ok" style="margin-right: 5px"></span> Submit </button>
                    </div>
                </div>
            </div>
        </div>

        CHANGE LOG TYPE
        
        <div id="modal_change_log_type" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"> Change Log Type </h4>
                    </div>
                    <div class="modal-body">
                        <div class="radio col-md-8 col-md-offset-2 text-center">
                            <label style="margin-right: 30px"><input type="radio" name="log_type" checked> info </label>
                            <label><input type="radio" name="log_type"> warning </label>
                        </div><br><br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="col-md-2 btn btn-default active" data-toggle="modal" data-target="#myModal" data-dismiss="modal"><span class="glyphicon glyphicon-chevron-left" style="margin-right: 5px"></span> Back </button>
                        <div class="col-md-8"> </div>
                        <button type="submit" id="send_change_log_type" class="col-md-2 btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-ok" style="margin-right: 5px"></span> Submit </button>
                    </div>
                </div>
            </div>
        </div>
        
        UPDATE CPU
        
        <div id="modal_update_cpu" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"> Update CPU </h4>
                    </div>
                    <div class="modal-body">
                         required="required" 
                        <label class="col-md-4 col-md-offset-1"> update_to_version </label>
                        <div class="col-md-6"><input type="text" class="form-control" id ="update_to_version" name="update_to_version" placeholder="update_to_version"/></div><br><br>
                        
                        <label class="col-md-offset-1"><input type="checkbox" id="check_restore" name="restore"><b> restore </b></label><br><br>
                        
                        <label class="col-md-4 col-md-offset-1"> http_server_ip </label>
                        <div class="col-md-6"><input type="text" class="form-control" id ="http_server_ip" name="http_server_ip" placeholder="http_server_ip"/></div><br><br><br>
                        
                        <label class="col-md-4 col-md-offset-1"> http_server_port </label>
                        <div class="col-md-6"><input type="number" class="form-control" id ="http_server_port" name="http_server_port" placeholder="http_server_port"/></div><br><br><br>
                        
                        <label class="col-md-4 col-md-offset-1"> file_path </label>
                        <div class="col-md-6"><input type="text" class="form-control" id ="file_path" name="file_path" placeholder="file_path"/></div><br><br><br>
                        
                        <label class="col-md-4 col-md-offset-1"> update_file </label>
                        <div class="col-md-6"><input type="text" class="form-control" id ="update_file" name="update_file" placeholder="update_file"/></div><br><br>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="col-md-2 btn btn-default active" data-toggle="modal" data-target="#myModal" data-dismiss="modal"><span class="glyphicon glyphicon-chevron-left" style="margin-right: 5px"></span> Back </button>
                        <div class="col-md-8"> </div>
                        <button type="submit" id="send_update_cpu" class="col-md-2 btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-ok" style="margin-right: 5px"></span> Submit </button>
                    </div>
                </div>
            </div>
        </div>
        
        GET SENSOR / RELAY STATUS
        
        <div id="modal_get_sensor_relay_status" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="title_get_sensor_relay_status"> Title </h4>
                    </div>
                    <div class="modal-body">
                        <label class="col-md-4 col-md-offset-1"> ipwall_id </label>
                        adicionar opcoes dinamicamente 
                        <div class="col-md-6">
                            <select id="select_ipwall_id_1" class="form-control" name="select_ipwall_id">
                            </select>
                        </div><br/><br>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="col-md-2 btn btn-default active" data-toggle="modal" data-target="#myModal" data-dismiss="modal"><span class="glyphicon glyphicon-chevron-left" style="margin-right: 5px"></span> Back </button>
                        <div class="col-md-8"> </div>
                        <button type="submit" id="send_get_sensor_status" class="col-md-2 btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-ok" style="margin-right: 5px"></span> Submit </button>
                    </div>
                </div>
            </div>
        </div>
        
        OPEN / KEEP / CLOSE THE DOOR
        
        <div id="modal_open_keep_close_door" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="title_open_keep_close_door"> Title </h4>
                    </div>
                    <div class="modal-body">
                        <label class="col-md-4 col-md-offset-1"> ipwall_id </label>
                        adicionar opcoes dinamicamente 
                        <div class="col-md-6">
                            <select id="select_ipwall_id_2" class="form-control" name="select_ipwall_id">
                            </select>
                        </div><br/><br><br>
                        
                        <label class="col-md-4 col-md-offset-1"> door_id </label>
                        <div class="col-md-6"><input type="number" class="form-control" id ="door_id" name="door_id" placeholder="door_id"/></div><br><br><br>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="col-md-2 btn btn-default active" data-toggle="modal" data-target="#myModal" data-dismiss="modal"><span class="glyphicon glyphicon-chevron-left" style="margin-right: 5px"></span> Back </button>
                        <div class="col-md-8"> </div>
                        <button type="submit" id="send_get_sensor_status" class="col-md-2 btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-ok" style="margin-right: 5px"></span> Submit </button>
                    </div>
                </div>
            </div>
        </div>
        
</form>-->
