<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Ipwall</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="myPadding25">
            <a href="/"><span class="glyphicon glyphicon-home" style="color: #337ab7"></span></a>
            <span class="glyphicon glyphicon-menu-right" style="color: #A9A9A9"></span>
            <span style="color: #808080"> IP Wall </span>
        </div>

        <div id="div-yes-ipwall">
            <h3 class="text-center" style="color: #337ab7">IP Wall</h3><br>
            <div class="myPadding25">
                <button id="button_insert_ipwall" class="btn btn-primary col-sm-2 myPadding10"><span class="glyphicon glyphicon-plus" style="margin-right: 5px"></span> Insert </button>
                <button id="delete_all_ipwalls" class="btn btn-primary col-sm-2 pull-right myPadding10"><span class="glyphicon glyphicon-trash" style="margin-right: 5px"></span> Delete all </button><br><br>
            </div>
            <div id="show-ipwall" class="myPadding25"></div>
        </div>
        
        <div id="div-no-ipwall" class="myPadding25"><br>
            <h1 class="text-center"><span class="glyphicon glyphicon-menu-hamburger" style="color: #808080"></span></h1>
            <h3 class="text-center" style="color: #808080">No IP Wall registered.</h3><br>
            <h5 class="text-center" style="color: #808080">Click the button below to register an IP Wall.</h5><br><br>
            <button id="button_insert_ipwall2" class="col-sm-2 col-sm-offset-5 btn btn-primary btn-lg">
                Insert IP Wall
            </button>
        </div>
        
        <div id="alertIpwall" class="modal fade" role="dialog" style="margin-top: 90px">
            <div class="col-md-4 col-md-offset-4 alert alert-success alert-dismissible text-center" role="alert">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                IP Wall inserted with success.
            </div>
        </div>
        
<!--        <script type="text/javascript">
            $(document).ready(function () {
                window.setTimeout(function() {
                    $("#alertIpwall").slideUp(100, function(){
                        $(this).remove(); 
                    });
                }, 500);
            });
        </script>-->

    </body>
</html>
