<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Logs</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="myPadding25">
            <a href="/"><span class="glyphicon glyphicon-home" style="color: #337ab7"></span></a>
            <span class="glyphicon glyphicon-menu-right" style="color: #A9A9A9"></span>
            <span style="color: #808080"> Logs </span>
        </div>

        <div id="div-no-general" class="myPadding25"><br>
            <h1 class="text-center"><span class="glyphicon glyphicon-list-alt" style="color: #808080"></span></h1>
            <h3 class="text-center" style="color: #808080"> No Logs to show </h3><br><br>
        </div>
        <div class="row">
        <label class="col-md-1"> File:</label>
        <div class="col-md-2"><input type="text" class="form-control" id ="log_file" name="log_file" placeholder="log_file"/></div>
            <button type="submit" id="button_log_file" class="col-md-2 btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-ok" style="margin-right: 5px"></span> Download </button>
        </div>
    </body>
</html>