<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>SetRF</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="myPadding25">
            <a href="/"><span class="glyphicon glyphicon-home" style="color: #337ab7"></span></a>
            <span class="glyphicon glyphicon-menu-right" style="color: #A9A9A9"></span>
            <span style="color: #808080"> Set RF </span>
        </div>
        
        <div id="div_yes_rf">
            <h3 class="text-center" style="color: #337ab7">Set RF</h3><br>
            <div class="myPadding25">
                <button id="button_insert_rf" class="btn btn-primary col-sm-2 myPadding10"><span class="glyphicon glyphicon-plus" style="margin-right: 5px"></span> Insert </button>
                <button id="delete_all_rf" class="btn btn-primary col-sm-2 pull-right myPadding10"><span class="glyphicon glyphicon-trash" style="margin-right: 5px"></span> Delete all </button><br><br>
            </div>
            <div id ="show_rf" class="myPadding25"></div>
        </div>
        
        <div id="div_no_rf" class="myPadding25"><br>
            <h1 class="text-center"><span class="glyphicon glyphicon-modal-window" style="color: #808080"></span></h1>
            <h3 class="text-center" style="color: #808080">No Set RF registered.</h3><br>
            <h5 class="text-center" style="color: #808080">Click the button below to register an Set RF.</h5><br><br>
            <button id="button_insert_rf2" class="col-sm-2 col-sm-offset-5 btn btn-primary btn-lg">
                Insert Set RF
            </button>
        </div>
        
    </body>
</html>
