<!DOCTYPE html>
<html>
<head>

</head>

<body>
    <div id="div-gym">
         <form>
            <div class="form-group">
               <label for="name">Gym Name:</label>
               <input type="name" class="form-control" id="gym-name">
            </div>
            <div class="form-group">
               <label for="name">Gym Address:</label>
               <input type="name" class="form-control" id="gym-addr">
            </div>
            <div class="form-group">
                <label for="number">Contact:</label>
                <input type="number" class="form-control" id="gym-contact">
            </div>
            <!-- <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd">
            </div>
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div> -->
            <button id="submit-gym" class="btn btn-default">Submit</button>
        </form>
    </div>

</body>
</html>
